div {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: inherit;
    outline: none;
    letter-spacing: inherit;
    text-decoration: none;
    cursor: inherit;    
}

body {
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

